/* shared CSS */

body {
    font-family: 'Lato', sans-serif;
    font-family: 'Open Sans', sans-serif;

}

.text-primary {
    color: rgb(253, 110, 10);
}

.btn-primary {
    border-radius: 5px;
    border: 0;
    background: rgb(253, 110, 10);
    font-weight: 700;
    font-size: 20px;
    color: white;
    padding: 18px 35px;
}

/* header related styles */
.header {
    background-color: rgb(255, 248, 243);
    background-image: url(../images/header_bg.png);
    background-repeat: no-repeat;
    background-position: bottom right;
}

/* nav related styles */
nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 200px;
}

.nav-title {
    color: rgb(24, 24, 24);
    font-size: 45px;
    font-weight: 800;
}


nav>ul {
    display: flex;
    align-items: center;
}

nav li {
    list-style: none;
    margin-right: 50px;
}

nav a {
    text-decoration: none;
    color: rgb(71, 71, 71);
}

.banner {
    padding: 30px 30px 0px 150px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.banner-greeting {
    font-size: 45px;
    color: rgb(71, 71, 71);
    margin-bottom: 5px;
}

.banner-title {
    font-size: 85px;
    font-weight: 700px;
    margin-top: 0;
    margin-bottom: 20px;
}

.banner .profile-pic {
    width: 500px;
}

.banner-content {
    max-width: 500px;

}

.banner-description {
    color: rgb(117, 117, 117);
    font-size: 18px;
    /* font-weight: 400; */
    /* line-height: 30px; */
    text-align: left;
}

/* main section styles */
main {
    max-width: 1140px;
    margin: 0 auto;
}

/* about section styles */
.about {
    border-radius: 10px;
    background: rgb(255, 248, 243);
    padding: 130px;
    margin: 130px 0;
}

.section-title {
    color: rgb(24, 24, 24);
    font-size: 35px;
    font-weight: 700;
    text-align: center;
}

.about-description {
    color: rgb(117, 117, 117);
    font-size: 18px;
    font-weight: 400;
    text-align: center;
}

.about-info-container {
    display: flex;
    justify-content: space-around;
}

.about-info {
    margin-right: 44px;
    text-align: center;
    font-size: 20px;

}

.info-title {
    color: rgb(117, 117, 117);
    font-weight: 400;

}

.info-description {
    color: rgb(71, 71, 71);
    font-weight: 700;
    margin-top: 0;
}