/* shared CSS */

body {
    font-family: 'Lato', sans-serif;
    font-family: 'Open Sans', sans-serif;

}

.text-primary {
    color: rgb(253, 110, 10);
}

.btn-primary {
    border-radius: 5px;
    border: 0;
    background: rgb(253, 110, 10);
    font-weight: 700;
    font-size: 20px;
    color: white;
    padding: 18px 35px;
}

/* nav related styles */
nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav-title {
    color: rgb(24, 24, 24);
    font-size: 45px;
    font-weight: 800;
}


nav>ul {
    display: flex;
    align-items: center;
}

nav li {
    list-style: none;
    margin-right: 50px;
}

nav a {
    text-decoration: none;
    color: rgb(71, 71, 71);
}